services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  payment-service:
    build: .
    container_name: payment-service
    ports:
      - "8080:8080"
    depends_on:
      - mongo
      - rabbitmq
