server:
  port: 8080

spring:
  application:
  name: pagos
  data:
    mongodb:
      uri: mongodb://mongo:27017/paymentsdb

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

  jackson:
    serialization:
      write-dates-as-timestamps: false

